<section class="section">
<h2 class="title is-2">All Posts</h2>

    <%= link_to "Add new posts", new_post_path, class: "button is-primary is-rounded" %>

<% @posts.each do |post| %>
<p class="subtitle is-4">
  <%= link_to post.title, post_path(post) %>
</p>
<p>
  <%= post.content %>
</p>
<% end %>
</section>
